<!-- Header -->
<header id="header">
	<h1>{{ site.your-name }}</h1>
	<p>{{ site.your-title }} &nbsp;&bull;&nbsp; {{ site.your-organisation }} &nbsp;&bull;&nbsp; {{ site.your-country }}</p>
	<nav>
		<ul>
			<li><a href="{{ site.email_url }}" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
			<li><a href="{{ site.linkedin_url }}" class="icon brands fa-linkedin"><span class="label">LinkedIn</span></a></li>
			<li><a href="{{ site.github_url }}" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
			<li><a href="{{ site.instagram_url }}" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
			<li><a href="{{ site.facebook_url }}" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
			<li><a href="{{ site.vk_url }}" class="icon brands fa-vk"><span class="label">VK</span></a></li>
			<li><a href="{{ site.twitter_url }}" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
			<li><a href="{{ site.youtube_url }}" class="icon brands fa-youtube"><span class="label">YouTube</span></a></li>
		</ul>
	</nav>
</header>