<header id="header">
	<h1>{{ config.extra.your_name }}</h1>
	<p>{{ config.extra.your_tagline }} &nbsp;&bull;&nbsp; {{ config.extra.your_location }}</p>
	<nav>
		<ul class="primary-links">
			{% for link in config.extra.social_links %}{% if link.group == "primary" %}<li><a href="{{ link.url | safe }}" aria-label="{{ link.aria_label }}"{% if link.rel_me %} rel="me"{% endif %} class="{{ link.icon_class }}"><span class="label">{{ link.label }}</span></a></li>{% endif %}{% endfor %}
		</ul>
		<ul class="secondary-links">
			{% for link in config.extra.social_links %}{% if link.group == "secondary" %}<li><a href="{{ link.url | safe }}" aria-label="{{ link.aria_label }}"{% if link.rel_me %} rel="me"{% endif %} class="{{ link.icon_class }}"><span class="label">{{ link.label }}</span></a></li>{% endif %}{% endfor %}
		</ul>
	</nav>
</header>
