<!-- Header -->
<header id="header">
	<h1>{{ config.extra.your_name }}</h1>
	<p>{{ config.extra.your_title }} &nbsp;&bull;&nbsp; {{ config.extra.your_organisation }} &nbsp;&bull;&nbsp; {{ config.extra.your_country }}</p>
	<nav>
		<ul>
			<li><a href="{{ config.extra.social.email_url }}" aria-label="Send e-mail" class="icon solid fa-envelope"><span
						class="label">Email</span></a></li>
			<li><a href="{{ config.extra.social.linkedin_url }}" aria-label="LinkedIn page" class="icon brands fa-linkedin-in"><span
						class="label">LinkedIn</span></a></li>
			<li><a href="{{ config.extra.social.github_url }}" aria-label="GitHub page" class="icon brands fa-github"><span
						class="label">GitHub</span></a></li>
			<li><a href="{{ config.extra.social.instagram_url }}" aria-label="Instagram page" class="icon brands fa-instagram"><span
						class="label">Instagram</span></a></li>
			<li><a href="{{ config.extra.social.facebook_url }}" aria-label="Facebook page" class="icon brands fa-facebook-f"><span
						class="label">Facebook</span></a></li>
			<li><a href="{{ config.extra.social.telegram_url }}" aria-label="Telegram page" class="icon brands fa-telegram"><span
						class="label">Telegram</span></a></li>
			<li><a href="{{ config.extra.social.vk_url }}" aria-label="VK page" class="icon brands fa-vk"><span class="label">VK</span></a></li>
			<li><a href="{{ config.extra.social.x_url }}" aria-label="X page" class="icon brands fa-x-twitter"><span class="label">X</span></a>
			</li>
			<li><a href="{{ config.extra.social.youtube_url }}" aria-label="YouTube page" class="icon brands fa-youtube"><span
						class="label">YouTube</span></a></li>
		</ul>
	</nav>
</header>