<!DOCTYPE HTML>
<html lang="{{ config.extra.language }}">
{% include "head.html" -%}
<body class="is-preload">
	<div id="wrapper">
		<div id="bg"></div>
		<div id="overlay"></div>
		<div id="main">
			{% include "header.html" -%}
			{% include "footer.html" -%}
		</div>
	</div>
	<script>
		window.onload = function () { document.body.classList.remove('is-preload'); }
		window.ontouchmove = function () { return false; }
		window.onorientationchange = function () { document.body.scrollTop = 0; }
	</script>
</body>
</html>
